<div class="container">
    <div class="row justify-content-center ">
        <div class="col-10">
            <%= render 'shared/errors',obj: @article%>
            <%= form_with(model: @article,class:"shadow bg-info p-3 mb-3", local: true) do |f| %>
                <div class="form-group row mx-4 my-3">
                    <%= f.label :title,class:"col-2 col-form-label px-4 text-light" %>
                    <div class="col-10">
                        <%= f.text_field :title,class:"form-control mt-4 mx-auto px-4 shadow rounded",placeholder:"Title of article"%>
                    </div>
                </div>

                <div class="form-group row mx-4 my-3">
                    <%= f.label :description,class:"col-2 col-form-label px-4 text-light"%>
                    <div class="col-10">
                        <%= f.text_area :description,rows:10,class:"form-control mt-4 shadow rounded",placeholder:"Description of article"%>
                    </div>
                </div>
                <div class="justify-content-center form-group row">
                    <div class="btn btn-outline-light btn-lg"> 
                        <%= f.submit%>
                    </div>
                </div> 
            <%end%>
        </div>
        <div class="row col-10 justify-content-center ">
            <%= link_to '[Cancel and Return to Article List Page]',articles_path,class:"text-info"%>
        </div>
    </div>
</div>